body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}
a {
  color: #fee;
}
nav {
  background-color: #400;
}
nav a {
  color: #000;
}
nav a:hover {
  color: #100;
}
color_fee {
  color: #fee;
}
div.container {
  background-color: #333;
  padding: 20px;
  border: 2px solid #fdd;
  border-radius: 35px;
  margin-top: 10px;
}
div.update_container {
  background-color: #555;
  padding: 10px;
  border: 2px solid #fdd;
}
