body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}
a {
  color: #fee;
}
nav {
  background-color: #400;
  padding: 10px;
}
nav a {
  color: #000;
}
nav a:hover {
  color: #100;
}
color_fee {
  color: #fee;
}
div.container {
  background-color: #333;
  padding: 20px;
  border: 2px solid #fdd;
  border-radius: 35px;
  margin-top: 10px;
}
div.update_container {
  background-color: #555;
  padding: 10px;
  border: 2px solid #fdd;
}
button {
        background-color: #600;
        color: #fee;
        border: none;
        padding: 12px 20px;
        cursor: pointer;
        border-radius: 4px;
        font-size: 16px;
        width: 100%;
        margin-top: 5px;
        border: 1px solid #fee;
      }
      button:hover {
        background-color: #800;
      }
