body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}
nav {
  background-color: #400;
}
nav a {
  color: #000;
}
nav a:hover {
  color: #100;
}
color_fee {
  color: #fee;
}
.container {
  background-color: #333;
  padding: 10px;
}
.update_container {
  background-color: #555;
  padding: 10px;
}
